header
    width: 100%
    position: relative
    top: 30px
    height: 25vh
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        opacity: .5
        object-fit: cover
    .header
        display: flex
        width: 90%
        max-width: 1024px
        height: 100%
        align-items: center
        margin: 0 auto
        padding: 10px 20px
        color: black
        font-size: 20px
        h2
            flex-grow: 1
            text-align: center
            text-transform: uppercase
        .cityInfo
            width: 20%
            display: block
